body{
    background: #FFDAB9;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.cabecalho-titulo{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 10px;
}
.resumo, .caracteristicas, .experiencia, .curso, .contato{
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
}
.resumo-texto, .caracteristicas-perfil, .experiencia-titulo,
.curso-titulo, .contato-titulo{
    margin: 10px;
}

.cursos{
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
}
